<!doctype html>
<html lang="en">
<head>
<title>Infrapix!</title>

<link type="text/css" rel="stylesheet" href='static/css/test.css'/>

</head>


<body>
{% if filename %}
<h2>Original:<h2>
<a href="{{filename}}">
  <img width=400 src="{{filename}}">
</a>
<br>
<h2>NDVI:</h2>
<a href="{{ndviFilename}}">
  <img width=500 src="{{ndviFilename}}">
</a>
<br>
<h3>NIR:</h2>
<a href="{{nirFilename}}">
  <img width=500 src="{{nirFilename}}">
</a>
{% else %}
  <h1>no image for whatever reason</h1>
{% endif %}
</body>
</html>
